/* Bob Settings Layout Styles */
.bob-tooltip-container {
	position: relative;
	display: inline-block;
}

.bob-tooltip {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	background-color: #333;
	color: #fff;
	padding: 5px;
	border-radius: 3px;
	margin-left: 5px;
	white-space: nowrap;
	font-size: 12px;
}

.bob-tooltip-container:hover .bob-tooltip {
	display: block;
}

.bob-tabs-container {
    position: relative;
}

.bob-wrap .nav-tab-wrapper {
    width: 150px;
    border: 0;
    margin-left: 20px !important;
}

.bob-wrap .nav-tab-wrapper a {
    width: 100%;
    z-index: 3;
    display: block;
}

.bob-wrap .nav-tab {
    border-bottom: none;
    padding: 8px 10px;
    color: #555;
    text-decoration: none;
    border-right: 1px solid #ccc;
    width: 150px;
    white-space: nowrap;
}

.bob-wrap .nav-tab:hover {
    color: #000;
    background-color: #e5e5e5;
}

.bob-wrap .nav-tab-active {
    color: #000;
    background-color: #fff;
    border-left: 1px solid #ccc;
}

.bob-settings-content {
    position: relative;
    float: left;
    left: -1px;
    padding-left: 20px;
    width: calc(100% - 170px);
    overflow: hidden;
}

.bob-settings-content::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 1px;
    height: 3000px;
    border-left: 1px solid #ccc;
}

.help-section {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    width: calc(100% - 40px);
    max-width: 800px;
}

/* Adjust the max-width value of the fields descriptions */
.bob-admin-desc {
    display: inline-block;
    max-width: 600px; 
    word-break: break-word;
    font-size: 14px !important;
    line-height: 1.6;
}

/* Bob Start / Stop Buttons */
.bob-message {
    margin-top: 20px;
    padding: 12px;
    border-radius: 4px;
}

.bob-message-success {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
}

.bob-message-error {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}

/* Documentation Tab */
.help-section p {
    font-size: 15px;
    line-height: 1.6;
}

/* Documentation Tab */
.bob-general p {
    font-size: 16px;
    line-height: 1.6;
}